.button {
  width: 130px;
  height: 45px;
  color: #555;
  background-color: white;
  font-size: 1.1rem;
  letter-spacing: 3px;
  border: 1px solid black;
  border-radius: 10px;
}

.button:hover {
  -webkit-box-shadow: 0px 2px 10px 3px rgba(219, 172, 13, 1);
  -moz-box-shadow: 0px 2px 10px 3px rgba(219, 172, 13, 1);
  box-shadow: 0px 2px 10px 3px rgba(219, 172, 13, 1);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

@media screen and (max-width: 748px) {
  .button {
    height: 35px;
    width: 110px;
    font-size: 0.9rem;
  }
}
