.main {
  margin: 30px;
  max-width: 1200px;
  height: 600px;
  color: #555;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.blockSide,
.blockMiddle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.blockSide {
  margin-top: 40px;
  width: 400px;
}

.blockMiddle {
  margin-left: 30px;
  width: 200px;
}

.catalogs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.input {
  margin: 12px 8px 20px 8px;
  padding-bottom: 8px;
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: rgb(235, 235, 235) solid 1px;
  border-radius: 3px;
}
